:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
    "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace, "Inter";
  --primary-font: "Poppins", sans-serif;
  --max-width-main-body: 1440px;
  --border-radius-small: 0.5rem;
  --border-radius-medium: 1rem;
  --border-radius-large: 1.5rem;
  --border-radius-half: 50%;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
  --primary-button-color-rgba: 147, 73, 240;
  --background-color-white: 255, 255, 255;
  --background-black: 28, 40, 51;
  --background-grey-shade-1: 66, 73, 73;
  --background-grey-shade-2: 77, 86, 86;
  --background-grey-shade-3: 98, 101, 103;
  --background-grey-shade-4: 123, 125, 125;
  --background-grey-shade-5: 242, 243, 244;
  --primary-button-background: 141, 4, 253;
  --background-light-blue: 184, 229, 245;
  --background-white: 255, 255, 255;
  --primary-button-elevation-color: 84, 3, 150;
  --primary-button-color: #8d04fd;
  --font-color-grey-shade-1: #424949;
  --font-color-grey-shade-2: #4d5656;
  --font-color-grey-shade-3: #626567;
  --font-color-grey-shade-4: #7b7d7d;
  --font-color-grey-shade-5: #f2f3f4;
  --font-color-red-shade-1: #fd0404;
  --font-color-black: #080808;
  --font-color-yellow: #ffb525;
  --font-color-white: #ffff;
  --font-size-h1: 2em;
  --font-size-h2: 1.6em;
  --font-size-h3: 1.4em;
  --font-size-h4: 1.2em;
  --font-size-h5: 1em;
  --font-size-h6: 0.8em;
  --font-size-h1-large: 3em;
  --font-size-p-small: 0.6em;
  --font-size-p-large: 0.8em;
  --font-weight-normal: 400;
  --font-weight-bold: 500;
  --font-weight-bold-600: 600;
  --font-weight-bolder: 700;
  --font-weight-max: 900;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: var(--primary-font);
}
.input,
.p {
  font-family: var(--primary-font);
}
.link-color {
  color: blueviolet;
  cursor: pointer;
}
.global-card {
  background-color: rgba(var(--background-color-white), 0.6);
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--font-color-white);
  height: max-content;
  width: max-content;
  min-width: 30rem;
  padding: 20px 15px;
}
.modern-card--elevated,
.modern-card--elevated-on-hover:hover {
  /* box-shadow: 0 4px 12px rgba(8, 10, 13, 0.05), 0 8px 16px rgba(8, 10, 13, 0.05); */
  box-shadow: rgba(8, 10, 13, 0.1) 0px 4px 10px 2px;
}
.modern-card--move-on-hover:hover {
  transform: translate(2px, 2px);
  transition: transform 0.2s ease-in-out;
}
.modern-card--elevated-on-hover:hover {
  transition: box-shadow 0.3s ease;
}
.p-r {
  position: relative;
}
.input-field-parent-wrapper {
  position: relative;
  width: 100%;
}
.input-field-wrapper {
  background: rgb(var(--background-color-white));
  border: 1px solid var(--font-color-white);
  display: grid;
  grid-template-columns: 2.2rem 1fr;
  align-items: center;
  width: calc(100% -20px);
  /* min-width: 30rem; */
  border-radius: var(--border-radius-small);
  padding: 10px 10px;
  /* transition: box-shadow 0.3s ease, border 0.2s ease-in; */
  box-shadow: rgba(8, 10, 13, 0.2) 0px 4px 7px 1px;
}
.input-field-wrapper-without-icon {
  background: rgb(var(--background-color-white));
  border: 1px solid var(--font-color-white);
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  width: calc(100% -20px);
  /* min-width: 30rem; */
  border-radius: var(--border-radius-small);
  padding: 10px 10px;
  /* transition: box-shadow 0.3s ease, border 0.2s ease-in; */
  box-shadow: rgba(8, 10, 13, 0.2) 0px 4px 7px 1px;
}
.background-error {
  border: 1px solid var(--font-color-red-shade-1);
}
.input-field-text-error {
  position: absolute;
  top: calc(100% - (-0.3rem));
  left: 0rem;
  color: var(--font-color-red-shade-1);
  font-size: var(--font-size-p-small);
  font-weight: var(--font-weight-normal);
}
.input-field-label-text {
  position: absolute;
  bottom: calc(100% - 0.4rem);
  left: 0.8rem;
  color: var(--primary-button-color);
  font-size: var(--font-size-p-large);
  font-weight: var(--font-weight-normal);
  background: rgba(var(--background-color-white), 0.8);
  background-image: linear-gradient(
    to bottom,
    rgba(var(--background-light-blue), 0.1),
    rgba(var(--background-color-white), 1)
  );
}
.input-field-required {
  position: absolute;
  color: var(--font-color-red-shade-1);
  animation: required-star-animate 2.5s linear infinite;
  font-style: oblique;
  font-size: var(--font-size-h5);
  top: 1px;
  left: 2px;
  font-weight: 500;
}
.sign-in-input-field-icons {
  color: var(--font-color-grey-shade-3);
  font-size: var(--font-size-h4);
}
.sign-in-input-field {
  color: var(--font-color-grey-shade-1);
  width: 100%;
  outline: none;
  font-size: var(--font-size-h5);
  line-height: 1rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.2px;
  border: none;
  border-style: none;
  background-color: transparent;
}
.sign-in-input-field-check-box {
  font-family: var(--primary-font);
  color: var(--font-color-grey-shade-1);
  outline: none;
  font-size: var(--font-size-h1);
  line-height: 1rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.2px;
  height: 1.2rem;
  width: 1.2rem;
  border: none;
  border-style: none;
  background-color: transparent;
  box-shadow: rgba(8, 10, 13, 0.2) 0px 4px 7px 1px;
}
.sign-up-as-business-input-field-check-box {
  font-family: var(--primary-font);
  color: var(--font-color-grey-shade-1);
  outline: none;
  font-size: var(--font-size-h1);
  line-height: 1.4rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.2px;
  height: 1.4rem;
  width: 1.4rem;
  border: none;
  border-style: none;
  background-color: transparent;
  box-shadow: rgba(8, 10, 13, 0.2) 0px 4px 7px 1px;
}
.otp-sing-up-input {
  width: 3rem !important;
  height: 3rem;
  margin: 0 1rem;
  outline: none;
  color: var(--font-color-grey-shade-1);
  font-size: 2rem;
  border-radius: 4px;
  border: 1px solid rgba(var(--background-grey-shade-4),0.3);
  box-shadow: rgba(8, 10, 13, 0.2) 0px 4px 7px 1px;
}
@keyframes required-star-animate {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
