.main-container {
  display: grid;
  grid-template-columns: 520px 1fr;
  grid-column-gap: 12px;
  -moz-column-gap: 12px;
  column-gap: 12px;
  z-index: 1;
  background-color: transparent;
}
.join-organization-background-image {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}
.main-body-wrapper {
  height: 100dvh;
  width: 100%;
  position: relative;
}
.join-organization-steps-form-main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.join-organization-steps-form-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 10px; */
  row-gap: 40px;
}
.main-form-header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  max-width: 35rem;
  justify-content: center;
  /* padding: 10px; */
  row-gap: 20px;
}
.header-title {
  font-size: var(--font-size-h2);
  color: var(--font-color-grey-shade-1);
  font-family: var(--primary-font);
  font-weight: var(--font-weight-bold);
  text-align: start;
  width: 100%;
}
.header-description {
  font-size: var(--font-size-h4);
  color: var(--font-color-grey-shade-2);
  font-family: var(--primary-font);
  font-weight: var(--font-weight-normal);
  word-wrap: break-word;
}
.vendor-list-onboard-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: calc(100% - 15px);
  border: 1px solid var(--font-color-grey-shade-4);
  border-radius: var(--border-radius-small);
  gap: 2rem;
  padding: 10px;
  /* margin-bottom: 14px; */
}
.vendor-list-onboard-header-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 1rem;
}
.vendor-onboarding-thumbnail {
  height: auto;
  width: 4rem;
  align-self: center;
  object-fit: cover;
}
.vendor-list-image-container {
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem;
  border-radius: var(--border-radius-small);
  border: 1px solid var(--font-color-grey-shade-5);
  background: rgba(var(--background-grey-shade-5), 0.6);
}
.vendor-onboarding-verified-text {
  font-size: var(--font-size-h6);
  color: var(--font-color-grey-shade-3);
  font-family: var(--primary-font);
  font-weight: var(--font-weight-normal);
  word-wrap: break-word;
}
.vendor-list-onboard-name {
  font-size: var(--font-size-h4);
  color: var(--font-color-grey-shade-2);
  font-family: var(--primary-font);
  font-weight: var(--font-weight-normal);
  word-wrap: break-word;
}
.vendor-list-onboard-header{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.join-organization-check-icons{
    color: var(--primary-font);
    font-size: var(--font-size-h4);
}