.main-container {
  display: grid;
  grid-template-columns: 520px 1fr;
  grid-column-gap: 12px;
  -moz-column-gap: 12px;
  column-gap: 12px;
  z-index: 1;
  background-color: transparent;
}
.main-container--mobile {
  display: flex;
  width: clamp(300px, 100%, 400px);
}
.sing-in-background-image {
  position: absolute;
  height: 100%;
  width: 100%;
  min-height: calc(100dvh - 7rem);
  overflow: hidden;
  z-index: -1;
}
.main-body-wrapper {
  height: calc(100% - 0.6rem);
  width: 100%;
  position: relative;
}
.left-side-overview-main-wrapper-aside {
  background: linear-gradient(
    to top,
    rgba(var(--primary-button-background), 1),
    rgba(var(--primary-button-background-dark), 0.9),
    rgba(var(--primary-button-background-dark), 1)
  );

  height: calc(100dvh - 7rem);
  width: 100%;
}
.left-side-overview-wrapper-aside {
  height: calc(100% - 5rem);
  margin-left: 5rem;
  width: (100%-10rem);
  display: flex;
  row-gap: 12rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.signUp-vertical-line {
  border: 3px solid var(--font-color-yellow);
  height: calc(100% - 8rem);
  position: fixed;
  top: 5rem;
  margin-left: 2rem;
}
.left-side-container-text {
  font-size: var(--font-size-h3);
  color: var(--font-color-white);
  font-family: var(--primary-font);
  font-weight: 500;
}
.aside-sign-in-icons {
  color: var(--font-color-yellow);
  font-size: var(--font-size-h4);
}
.sign-up-image-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.left-side-container-footer-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1rem;
  width: 100%;
}
.left-side-container-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 1rem;
  width: 100%;
}
.sign-in-form-main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.sign-in-form-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 10px; */
  row-gap: 40px;
}

.sign-in-form-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  column-gap: 30px;
}
.sign-in-button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 10px;
}
.sign-in-main-button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.sign-in-color-main-button {
  color: var(--font-color-white);
  background: rgba(var(--primary-button-background), 1);
  padding: 15px 0px;
  border: 1px solid rgba(var(--primary-button-background), 1);
  border-radius: var(--border-radius-small);
  margin-top: 2rem;
  box-shadow: rgba(var(--primary-button-elevation-color), 0.8) 0.2em 0.2em 0px 0px;
}
.sign-in-color-main-button-is-loading {
  color: var(--font-color-white);
  background: rgba(var(--primary-button-background), 1);
  padding: 15px 0px;
  border: 1px solid rgba(var(--primary-button-background), 1);
  border-radius: var(--border-radius-small);
  margin-top: 2rem;
  box-shadow: rgba(var(--primary-button-elevation-color), 0.8) 0.2em 0.2em 0px 0px;
  animation: sign-in-is-loading-animate 2.5s linear infinite;
}

.sign-in-color-main-button-inactive {
  color: var(--font-color-white);
  background: rgba(var(--primary-button-background), 0.6);
  padding: 15px 0px;
  border: 1px solid rgba(var(--primary-button-background), 0.5);
  border-radius: var(--border-radius-small);
  margin-top: 2rem;
  box-shadow: rgba(var(--primary-button-elevation-color), 0.5) 0.2em 0.2em 0px 0px;
  cursor: not-allowed;
}
.sign-in-color-main-button:hover {
  transform: translate(0, 0.105em);
  cursor: pointer;
  /* animation: required-star-animate 2.5s linear infinite; */
}
.sign-in-color-main-button:active {
  transform: translate(0, 0.105em);
  cursor: pointer;
  /* animation: required-star-animate 2.5s linear infinite; */
  box-shadow: rgba(var(--primary-button-elevation-color), 0.8) 0px 0.1em 0px 0px;
}

.sign-in-button-text {
  font-weight: var(--font-weight-bold-600);
  font-size: var(--font-size-h5);
  font-family: var(--primary-font);
}
.sign-in-color {
  color: var(--font-color-white);
  background: rgba(var(--primary-button-background), 1);
  padding: 10px 30px;
  border-radius: var(--border-radius-small);
}
.sign-up-color {
  color: var(--primary-button-color);
  padding: 10px 30px;
}
.terms-conditions-text {
  color: var(--font-color-grey-shade-1);
  font-size: var(--font-size-h5);
}
.sign-in-checkbox-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}
.forgot-password {
  color: var(--primary-button-color);
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-bold);
  padding: 1.8rem 0rem 1.8rem 0rem;
}

@keyframes sign-in-is-loading-animate {
  0% {
    opacity: 0.2;
    /* scale: 0.8; */
  }
  50% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0.2;
    /* scale: 0.8; */
  }
}
